services:
  nginx:
    image: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - mynet

  app:
    build: .
    depends_on:
      - mongo
    networks:
      - mynet

  mongo:
    image: mongo
    volumes:
      - mongodata:/data/db
    networks:
      - mynet

volumes:
  mongodata:

networks:
  mynet:
